.movie-list-section {
  width: 100vw;
  height: 100%;
  padding-bottom: 150px;
}

.list-search-input {
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}

.list-search-input input {
  width: 85%;
  height: 100%;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 10px 50px;
  border-radius: 100px;
  background: transparent;
  /* border: none;
  box-shadow: 1px 4px 2px 2px rgba(164, 164, 164, 0.231); */
}

.list-search-input input::placeholder {
  font-size: 16px;
}

.list-search-icon {
  position: absolute;
  left: 45px;
  top: 13.5px;
}

.list-search-icon svg {
  font-size: 22px;
  color: rgba(128, 128, 128, 0.426);
}

.movie-list-container {
  margin: 150px auto;
  margin-bottom: 50px;
  width: 95%;

  display: grid;
  gap: 4rem 1rem;
  grid-auto-rows: minmax(100px, 300px);
  justify-items: center;
}

.pagination-controls {
  margin: 0 auto;
  width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  white-space: pre-wrap;
}

.movie-pagination {
  list-style: none;
  display: flex;
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
  flex-wrap: wrap;
}

.movie-page-nav {
  padding: 8px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 0px 4px 1px rgba(128, 128, 128, 0.142);
}

.movie-page-nav:hover {
  background-color: #df3939;
  color: #fff;
}

.movie-pagination svg {
  position: relative;
  top: 2px;
  font-weight: 600;
}

.active-num {
  background-color: #df3939;
  color: #fff;
}

/* Select option styling */

.dropdown-container {
  padding: 3px;
  background-color: black;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  margin-top: 25px;
  margin-bottom: 125px;
  width: 100px;
  height: 45px;
  box-shadow: 0px 0px 4px 1px rgba(128, 128, 128, 0.174);
  position: relative;
}

.dropdown-container svg {
  position: absolute;
  top: 15px;
  right: 10px;
}

.dropdown-header {
  padding: 0.4em 2em 0.4em 1em;
  font-weight: 500;
  font-size: 18px;
  background: #101010;
  color: #fff;

  width: 35%;
  height: 100%;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownlist {
  background: #060606;
  border: 2px solid #262626;

  font-size: 16px;
  font-weight: 500;
  color: #fff;
  width: 110px;
  padding: 2px;
  margin-top: 10px;

  /* position: absolute; */
  /* left: 10px; */
  border-radius: 10px;
}

.listItem {
  list-style: none;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  margin-top: 0;
}

.listItem:hover {
  background: var(--primary-light-gray);
}

@media screen and (450px <= width <= 599px) {
  .list-search-icon {
    left: 55px;
  }
}

@media screen and (min-width: 600px) {
  .list-search-icon {
    left: 65px;
  }
  @media screen and (min-width: 700px) {
    .list-search-input {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .pagination-controls {
      flex-direction: row;
    }

    .dropdown-container {
      bottom: 14px;
    }
  }

  @media screen and (min-width: 651px) and (max-width: 979px) {
    .movie-list-container {
      width: 95%;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 980px) and (max-width: 1299px) {
    .movie-list-container {
      width: 95%;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 1300px) {
    .movie-list-container {
      width: 85%;
      grid-template-columns: repeat(4, 1fr);
    }

    .pagination-controls {
      width: 85%;
    }
  }
}
