.movie-card {
  width: 100%;
  height: 500px;

  border-radius: 2px;
  background: #0d0d0d;
  box-shadow: 1px 2px 2px 2px rgba(54, 54, 54, 0.231);
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
}

.movie-icon {
  background: var(--primary-light-gray);
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  border: 2px solid #b5b4b4;
}

.movie-icon img {
  width: 100%;
  height: 100%;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.movie-title,
.movie-year {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

.movie-year {
  color: #ffffff6f;
  font-weight: 400;
}

.movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  transition: all 0.5s linear;
}

.movie-card .overlay .overlay-items {
  background: rgba(0, 0, 0, 0.479);
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card .overlay:hover {
  transform: translateX(-50%);
}

.view-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px rgba(30, 30, 30, 0.385);
  font-size: 15px;
  font-weight: 600;
  color: var(--primary-white);
}

.view-btn svg {
  position: relative;
  top: 2px;
}

@media screen and (380px <= width <= 499px) {
  .movie-card {
    height: 600px;
  }
}

@media screen and (min-width: 1800px) {
  .movie-card {
    height: 700px;
  }
}
