.side-modal-section {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.272);
  z-index: 3;
}

.side-modal-container {
  width: 100%;
  height: 100%;
  background: rgb(32, 32, 32);
  border-left: 2px solid #8181814a;

  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.5s;

  display: flex;
  flex-direction: column;
  z-index: 3;
}

.movie-desc {
  background: var(--primary-linear-gradient);
  height: 100%;
}

.movie-desc p {
  color: #818181;
}

.side-modal-icon {
  height: 250px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px;

  display: flex;
  justify-content: flex-start;
  position: relative;
}

.side-modal-icon img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}

.side-modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;

  padding: 15px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.693);
  border: none;
}

.side-modal-close-btn svg {
  color: #e7e7e7;
  font-size: 20px;
}

.sidebar-movie-details {
  padding: 10px 10px;
}

.sidebar-movie-details .title {
  font-size: 18px;
  font-weight: 600;
}

.sidebar-movie-details .other-info {
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}
.plot {
  font-size: 14px;
  padding: 10px 10px;
}
.actors {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
}

.ratings-row {
  padding: 10px 10px;
  display: flex;
}

.ratings,
.imdb {
  display: flex;
  color: #818181;
  font-size: 14px;
  font-weight: 600;
  margin: 0 10px;
}

.ratings img,
.imdb img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  position: relative;
  /* top: px; */
}

.movie-desc .reviews {
  padding: 10px;
}

.movie {
  width: 100%;
  padding: 0.5rem 0;

  border: solid;
  border-width: 0.5px 0 0.1px 0;
  border-color: rgba(219, 219, 219, 0.25) transparent;
}

.title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 0.7px;
  line-height: 2;
  color: #818181;
}

.details {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.rating,
.genre,
.direct {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: rgba(254, 254, 254, 0.397);
}

.rating {
  padding: 0 10px 0 0;
  border: 1px solid;
  border-color: transparent rgb(230, 230, 230) transparent transparent;
}

.genre {
  padding: 0 10px 0 0;
  margin-left: 10px;
  border: 1px solid;
  border-color: transparent rgb(237, 237, 237) transparent transparent;
}

.direct {
  padding: 0 10px;
  border: 1px solid;
  border-color: transparent;
}

.info {
  font-size: 14px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.5px;
  margin: 10px 0;
}

.byline {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
  color: rgba(233, 233, 233, 0.793);
  margin-bottom: 5px;
}

span {
  text-transform: capitalize;
}

.headline {
  text-transform: capitalize;
  font-family: "Playfair Display", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: rgba(150, 7, 7, 0.913);
  font-style: italic;
}

@media screen and (min-width: 450px) and (max-width: 614px) {
  .side-modal-container {
    width: 65%;
  }
}

@media screen and (min-width: 600px) {
  .sidebar-movie-details {
    padding: 10px;
  }

  .ratings-row {
    padding: 10px;
  }

  .plot {
    padding: 10px;
  }
  @media screen and (min-width: 615px) and (max-width: 740px) {
    .side-modal-container {
      width: 65%;
    }
  }

  @media screen and (min-width: 741px) and (max-width: 869px) {
    .side-modal-container {
      width: 50%;
    }
  }

  @media screen and (min-width: 870px) and (max-width: 1055px) {
    .side-modal-container {
      width: 40%;
    }
  }

  @media screen and (min-width: 1056px) and (max-width: 1299px) {
    .side-modal-container {
      width: 40%;
    }
  }

  @media screen and (min-width: 1300px) {
    .side-modal-container {
      width: 25%;
    }
  }
}

@media screen and (min-width: 769px) {
  .title h2 {
    font-size: 15px;
  }

  .genre,
  .rating,
  .direct,
  .byline {
    font-size: 12px;
  }
  @media screen and (min-width: 900px) {
    .movie {
      width: 80%;
    }
  }
}
